.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
  color: #000;
}

h3 {
  min-width: 400px;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 5px 0px 5px 0px;
}

.methods-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 0px 0px 0px;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.default-label {
  font-size: calc(7px + 2vmin);
  padding: 15px 0px 15px 0px;
  color: #a5b4c3;
  margin-right: 10px;
}

.roles-select {
  font-size: calc(7px + 2vmin);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin-top: 15px;
}

.default-input {
  font-size: calc(7px + 2vmin);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.form-input {
  font-size: calc(7px + 2vmin);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin-top: 15px;
}

.read-only-input {
  font-size: calc(7px + 2vmin);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  min-height: 120px;
  min-width: 200px;
  margin-top: 10px;
  outline: black 2px solid;
}

.default-button {
  text-align: center;
  border-radius: 227.5px;
  border: 0px;
  padding: 10px 75px 10px 75px;
  background-color: #00aae6;
  font-size: calc(7px + 2vmin);
  color: white;
  margin-top: 25px;
}

.default-button:hover {
  background-color: #007aff;
  color: white;

}

.default-button:active{
  background-color: #f7f7f8;
  color: black;
}

.paging-button-left {
  text-align: center;
  border-radius: 227.5px 0px 0px 227.5px;
  border: 0px;
  padding: 0px 10px 0px 10px;
  margin-right: 30px;
  height: 62.107px;
  background-color: #00aae6;
  font-size: calc(7px + 2vmin);
  color: white;
}

.paging-button-left:hover {
  background-color: #007aff;
  color: white;
}

.paging-button-left:active{
  background-color: #f7f7f8;
  color: black;
}

.paging-button-right {
  text-align: center;
  border-radius: 0px 227.5px 227.5px 0px;
  border: 0px;
  padding: 0px 10px 0px 10px;
  margin-left: 30px;
  height: 62.107px;
  background-color: #00aae6;
  font-size: calc(7px + 2vmin);
  color: white;
}

.paging-button-right:hover {
  background-color: #007aff;
  color: white;
}

.paging-button-right:active{
  background-color: #f7f7f8;
  color: black;
}